@charset "utf-8";
/*========== comm layout ==========*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
/* body {
	font-size:12px;
	line-height: 160%;
	font-family: "Helvetica Neue",\5FAE\8F6F\96C5\9ED1,"SimHei",Tohoma; mac字体，黑体，xp字体，宋体有点问题，所以不用，除非自写
	word-break:break-all;
	word-wrap:break-word;
} */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins,s { text-decoration: none; }
del { text-decoration: line-through;}
em,i {font-style:normal;}
/* Remove annoying border on linked images. */
a,img { border: none; text-decoration:none; }
a{text-decoration:none;}
a:hover{text-decoration:underline;}a:focus{outline:none;-moz-outline:none;}
a:active{outline:none;blr:expression(this.onFocus=this.blur())}
h1 {font-size: 36px;line-height: 45px;font-weight:normal;}
h2 {font-size: 24px;line-height: 30px;font-weight:normal;}
h3 {font-size: 18px;line-height: 22px;font-weight:normal;}
h4 {font-size: 16px;line-height: 20px;font-weight:normal;}
h5 {font-size: 14px;line-height: 18px;font-weight:normal;}
h6 {font-size: 12px;line-height: 16px;font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
.clearfix:before, .clearfix:after { content: ""; display: table; font-size:0 !important; line-height:0!important; height:0!important;}  
.clearfix:after { clear: both; }
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.fl {float: left;}.fr {float: right;}
.pr {position: relative; }.pa {position: absolute; }
.f-fH {font-family: 'SimHei';}.f-fM {font-family: 'Microsoft YaHei';}.f-fA {font-family: 'SimSun';}.f-fG {font-family: 'Georgia';}
.dis{display:block;}
.undis{display:none;}
.disIb {display:inline-block;}
.of{overflow: hidden;}
.vam {vertical-align: middle;}
.w1200 {margin-left: auto;margin-right: auto;width: 1200px;}
.tac {text-align:center;}
.mt30 {margin-top:30px;}
.ml30 {margin-left:35px;}
.mb30 {margin-bottom:30px;}
.mt15 {margin-top:13px;}
.ml20 {margin-left:20px;}
.mt7 {margin-top:7px;}
.c-master {color:#3278b7;}
.ml100 {margin-left:110px;}
.mb130 {margin-bottom:130px;margin-top:-24px;}
.vap {vertical-align:top;}
.head-pic {width: 861px;height: 179px;}
		.c-top-cont {margin-top: 15px;}
		.c-top-cont p,.c-title p { font: 16px/40px "Microsoft YaHei";color: #333;font-weight: bold;}
		.c-title {margin-top: 10px;}
		.c-title p {line-height: 30px;}
		.tar {text-align: right;}
		.c-middle-cont {margin-top: 20px;}
		.c-content {padding-left:35px;}
		.c-content ul li { list-style-image: url("./img/dot1.png");padding-left: 20px;padding-bottom: 5px;}
		.c-content ul li p {font: 16px/28px "Microsoft YaHei";color: #333;}
		.c-content ul li ol {padding-left: 25px;margin-top:5px;}
		.c-content ul li ol li { list-style-image: url("./img/dot2.png");padding-left: 15px;}
		th{
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-right-style: solid;
			border-bottom-style: solid;
			border-right-color: #000;
			border-bottom-color: #000;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #000;
		}
		td{
			border-right-width: 1px;
			border-bottom-width: 1px;
			border-right-style: solid;
			border-bottom-style: solid;
			border-right-color: #000;
			border-bottom-color: #000;
		}
		
		table{
			border-left-width: 1px;
			border-left-style: solid;
			border-left-color: #000;
		}
		#s{
			white-space:pre-wrap;
		}
		tr{
			align=center;	
		}