@media print{
table {
	width: 250mm;
   	border-collapse:separate ;
  	border-spacing: 0px;
  	border: 1mm solid white ;
   
}
tr {
	page-break-inside: avoid;
}
td {
	width: 50mm;
}
.bei-zhu{
	width:40mm;
	word-wrap:break-word; 
	overflow:hidden; 
}